@font-face {
   font-family: 'edunline';
   src: local('edunline'), url('./fonts/edunline.woff') format('woff');
}

body {
   color: #40514E;
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
}

h1 {
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem;
   color: #66BFBF;
}

h2 {
   font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   font-weight: normal;
   color: #66BFBF;
   padding-bottom: 10px;
}

h3 {
   font-family: 'Montserrat', sans-serif;
   color: #11999E;
}

hr {
   border: dotted #EAF6F6 6px;
   border-bottom: none;
   width: 4%;
   margin: 100px auto;
}

a {
   color: #11999E;
   margin: 10px 20px;
   text-decoration: none;
}

.top-container {
   background-color: #EAF6F6;
   position: relative;
   padding: 100px;
}

.middle-container {
   margin: 100px 0 100px 0;
}

.bottom-container {
   background-color: #66BFBF;
   padding: 50px 0 20px;
}

.intro {
   width: 30%;
   margin: 24px auto 0px;
}

.CV {
   text-align: center;
   font-family: 'edunline';
   font-size: .95em;
   margin: 0px;
   color: blue;
}

.p {
   line-height: 2;
}

.skill-row {
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
}

.code-img {
   width: 25%;
   float: left;
   margin-right: 30px;
}

.game-img {
   width: 25%;
   float: right;
   margin-left: 30px;
}


.top-cloud {
   position: absolute;
   right: 300px;
   top: 40px;
}

.bottom-cloud {
   position: absolute;
   left: 250px;
   bottom: 300px;
}

.contact-me {
   width: 40%;
   margin: 40px auto 60px;
}

.copyright {
   color: #EAF6F6;
   font-size: 0.75rem;
   padding: 20px 0;
}

.gitlab-img {
   width: 40px;
   height: 40px;
}

.btn {
   background: #11cdd4;
   background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
   background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
   background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
   background-image: -o-linear-gradient(top, #11cdd4, #11999e);
   background-image: linear-gradient(to bottom, #11cdd4, #11999e);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   font-family: 'Montserrat', sans-serif;
   color: #ffffff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}

.btn:hover {
   background: #30e3cb;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
   text-decoration: none;
}

/* @font-face {
   font-family: 'edunline';
   src: url('/css/fonts/edunline.woff') format('woff'),
      url('/css/fonts/edunline.woff') format('truetype');
} */